.container {
  overflow-y: scroll;
  height: 85%;
  // color: #f2f2f2;

  @media only screen and(max-width: 557px) {
    padding-top: 0.5rem;
  }

  .header {
    height: 30%;

    .avatar {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      img {
        border-radius: 100%;
      }
    }
  }

  .content {
    height: 70%;
    // background-color: rgb(122 123 443 / 50%);
  }
}


.adm-list {
  background-color: red !important;
}