.container {
  overflow-y: scroll;
  height: 85%;

  @media only screen and(max-width: 557px) {
    padding-top: 0.5rem;
  }

  .list {
    color: #d9d9d9;
  }

  .list-item {
    background-color: #282828;
  }

  .header {
    height: 30%;

    .avatar {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      img {
        border-radius: 100%;
      }
    }
  }

  .content {
    height: 70%;
    // background-color: rgb(122 123 443 / 50%);
  }
}
