.cash-in-out-btn-box {
  position: absolute;
  top: 52.4%;
  width: 100%;
  height: 8.5%;

  .cash-in-out-btn {
    position: absolute;
    top: 0;
    right: 31%;
    height: 100%;
    width: 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .cash-in-out-bg {
    background-image: url("../../../assets/button/aristocrat/cash-in-out.png");
  }

  .cash-in-out-action {
    background-image: url("../../../assets/button/aristocrat/cash-in-out-action.png");
  }
}
