.main-btn-holder {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  .main-btn {
    background-size: 50rem;
    background-repeat: no-repeat;
    background-position: -3.5rem center;
    width: 30%;
    height: 90%;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }

    @media only screen and(max-width: 557px) {
      background-size: 40rem;
      background-position: -3rem center;
      width: 33%;
    }
  }

  .btn-auto {
    background-image: url("../../../assets/button/aristocrat/main/btn-auto.webp");
    image-rendering: crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -webkit-font-smooting: antialiased;
  }

  .btn-max {
    background-image: url("../../../assets/button/aristocrat/main/btn-max.webp");
    image-rendering: crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -webkit-font-smooting: antialiased;
  }

  .btn-spin {
    background-image: url("../../../assets/button/aristocrat/main/btn-repeat.webp");
    image-rendering: crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -webkit-font-smooting: antialiased;
  }

  .countdown-box {
    background-color: rgb(0 0 0 / 70%);
    color: #8eec41;
    position: absolute;
    bottom: -1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 5px;
  }
}
