.container {
  .menu-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 1%;
    padding-right: 1%;
  }

  .btn-box {
    position: absolute;
    bottom: 30.5%;
    width: 100%;
    height: 14%;

    .content {
      width: 100%;
      height: 100%;

      .spin {
        position: absolute;
        bottom: 10%;
        left: 6.8%;
        height: 55%;
        width: 12%;
        background-image: url('../../../assets/game-machine/yoshimune/spin.webp');
        background-position: -3rem center;
        background-repeat: no-repeat;
        background-size: 30rem;
        cursor: pointer;
      }
    }
  }
}

.spin-move {
  animation: 250ms spin-animation steps(3) 1;
}

@keyframes spin-animation {
  0% {
    background-position-x: -3rem;
  }

  100% {
    background-position-x: -33rem;
  }
}
