.container {
  position: relative;
  .menu-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1%;
    padding-right: 1%;
    height: 9%;

    .menu-bg {
      background-color: #030852;
      padding: 1%;
      border-radius: 5px;
    }
  }

  .video-box {
    position: absolute;
    top: 1%;
    left: 3%;
    right: 2.8%;
    bottom: 41.3%;
    clip-path: polygon(0 0, 100% 0, 100% 99%, 96% 101%, 3% 101%, 0 99%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-box {
    position: absolute;
    bottom: 26%;
    width: 100%;
    height: 15%;

    .content {
      width: 100%;
      height: 100%;

      .top-btn-box {
        width: 83%;
        height: 42%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .top-btn {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        .bet {
          background-size: 550%;
          background-position: 3.9% center;
        }

        .auto {
          background-size: 550%;
          background-position: 3.9% center;
        }

        .cash-in {
          background-size: 460%;
          background-position: 7.8% center;
        }

        .cash-out {
          background-size: 460%;
          background-position: 7.8% center;
        }

        .cash-move {
          background-size: 460%;
          background-position: 7.8% center;
        }

        .coin {
          background-size: contain;
          background-position: top;
        }
      }

      .bottom-btn-box {
        height: 70%;
        width: 100%;
        position: relative;

        .spin {
          position: absolute;
          left: 6.8%;
          height: 100%;
          width: 12.5%;
          background-position: -3rem center;
          background-repeat: no-repeat;
          background-size: 30rem;
          cursor: pointer;

          @media only screen and(max-width: 557px) {
            background-size: 21.8rem;
            background-position: -2.2rem center;
          }
        }

        .stop-btn-box {
          position: absolute;
          left: 25%;
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;

          .stop {
            height: 100%;
            width: 100%;
            border-radius: 100%;
            background-image: url("../../../assets/button/sammy/stop.webp");
            background-size: 550%;
            background-position: 9% center;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.spin-move {
  animation: 200ms spin-animation steps(3) 1;
}

@keyframes spin-animation {
  0% {
    background-position-x: -3rem;
  }

  100% {
    background-position-x: -33rem;
  }
}

@media only screen and(max-width: 557px) {
  @keyframes spin-animation {
    0% {
      background-position-x: -2.2rem;
    }

    100% {
      background-position-x: -24rem;
    }
  }
}

.stop-move {
  animation: 200ms stop-animation steps(3) 1;
}

@keyframes stop-animation {
  0% {
    background-position-x: 9%;
  }

  100% {
    background-position-x: 131.3%;
  }
}

.top-circe-btn-move {
  animation: 300ms top-circe-btn-animation steps(4) 1;
}

.auto-btn-move {
  animation: 500ms auto-btn-animation steps(4) infinite;
}

.top-square-btn-move {
  animation: 300ms top-square-btn-animation steps(3) 1;
}

@keyframes top-circe-btn-animation {
  0% {
    background-position-x: 3.9%;
  }

  100% {
    background-position-x: 126.15%;
  }
}

@keyframes top-square-btn-animation {
  0% {
    background-position-x: 7.8%;
  }

  100% {
    background-position-x: 135.7%;
  }
}

@keyframes auto-btn-animation {
  0% {
    background-position-x: 3.9%;
  }

  100% {
    background-position-x: 126.3%;
  }
}

.middle {
  width: 100%;
  height: 15%;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -1%;
  background-image: url(../../../assets/日本slot/素材/拳王中間框2.jpg);
}
.middleContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  >div {
    margin-right: 3%;
    background-image: url(../../../assets/日本slot/素材/中間框_拳王_吉宗共用.jpg);
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    >p:first-child {
      color: rgb(199, 199, 199);
    }
    >p:last-child {
      color: rgb(29, 234, 22);
    }
  }
  >img {
    margin-right: 3%;
    width: 6%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.bonusInfo {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 550px;
  width: 100%;
  height: 6%;
  background-color: #000000;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  >div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 80%;

    >div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 50%;
    }
    >div:last-child {
      font-size: 2rem;
    }
  }
  >div:first-child {
    color: red;
    >div:first-child {
      border: 2px solid red;
    }
  }
  >div:nth-child(2) {
    color: rgb(255, 196, 0);
    >div:first-child {
      border: 2px solid rgb(255, 196, 0);
    }
  }
  >div:nth-child(3) {
    color: rgb(42, 237, 12);
    >div:first-child {
      border: 2px solid rgb(42, 237, 12);
    }
  }
}
