.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  padding-left: 1%;

  .header-left-box {
    width: 60%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.7rem;
    border: 2px solid rgb(70 71 69 / 65%);
    padding: 1% 1% 0;
    font-size: 1rem;
    color: #f2f2f2;

    .egm-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .game-name {
        font-size: 1.2rem;
      }

      .game-number {
        font-size: 0.5rem;
      }
    }

    .play-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .user-level {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: #b4ddf8;
        background-image:
          linear-gradient(
            90deg,
            #b4ddf8 5%,
            #affcf3 15%,
            #b7feac 30%,
            #fafeb0 45%,
            #ffcbb6 60%,
            #ecb8e6 70%,
            #a4a4f1 85%,
            #abe2fa 100%
          );
      }
    }
  }

  .header-right-box {
    height: 85%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-total {
      width: 100%;
      height: 100%;
      background-image: url("../../../assets/game-machine/header/total.webp");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      color: #f2f2f2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-size: 1.2rem;
      border: inset 1px grey;

      @media only screen and(max-width: 557px) {
        font-size: 0.8rem;
      }
    }

    .header-menu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
