.header {
  border-bottom: 1px solid #9c7a33;
  padding: 0.5rem;
  height: 15%;
  display: flex;
  align-items: center;

  .img {
    width: 2rem;
  }

  .header-text-box {
    display: flex;
    flex-direction: column;

    .header-title {
      font-size: 1.8rem;
      color: #fff;

      @media only screen and(max-width: 557px) {
        font-size: 1.4rem;
      }
    }

    .header-text {
      color: #9c7a33;

      @media only screen and(max-width: 557px) {
        font-size: 1rem;
      }
    }
  }
}
