.content-box {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1rem;
  margin: auto;
  max-height: 56vh;
  overflow-y: scroll;

  @media only screen and(max-width: 557px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-type {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 8rem;
    cursor: pointer;
  }

  .slot {
    background-image: url(../../assets/button/game-type/game-type.png);
  }

  .other {
    background-image: url(../../assets/button/game-type/btn_gametype_test_normal.png);
  }
}
